@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg_container{
    background-color: black;
    width: 100vw;
    height: 100vh;
  }

  .border_color{
    display: flex;
    padding: 5px;
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    align-items: center;

  }
  .border_color2{
    display: flex;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    align-items: center;
    background-color: white;
    color: black;

  }

  .border_color2:hover{
    background-color: rgb(108, 12, 12);
    color: white;
  }

  .pdf_icon:hover{
color: white;
  }
}

