@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .bg_container {
    background-color: black;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
  }

  .border_color {
    display: flex;
    padding: 5px;
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    align-items: center;
  }
  .border_color2 {
    display: flex;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    align-items: center;
    background-color: white;
    color: black;
  }

  .border_color2:hover {
    background-color: rgb(108, 12, 12);
    color: white;
  }

  .pdf_icon:hover {
    color: white;
  }

  .dev_title {
    width: 80%;
    font-size: 210px;
    color: white;
    line-height: 250px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: bold;
    color: rgb(209, 209, 209);
  }

  .font_fam {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 116px;
    line-height: 120px;
  }

  .font_fam2 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 90px;
    line-height: 105px;
  }

  .font_fam2:hover {
    color: rgb(108, 12, 12);
  }

  .font_fam:hover {
    color: rgb(108, 12, 12);
  }

  .image_style {
    object-fit: contain;
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .image_style_div {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid white;
  }

  .image_style2 {
    width: 95%;
    height: 95%;
  }

  .first_hr {
    border-top: 0;
    border-bottom: 3px solid rgb(108, 12, 12);
    width: 60px;
    margin-left: 10px;
  }

  .primary_redd {
    color: rgb(108, 12, 12);
  }

  .project_content {
    display: flex;
    width: 100%;
  }

  .project_content_div1 {
    width: 90%;
  }

  .project_content_div2 {
    width: 100%;
    background-color: white;
    height: 350px;
    padding: 20px;
  }

  .centered {
    margin: 0 auto;
    border-bottom-left-radius: 50px;
    border: 1px solid black;
  }

  .text_color {
    color: rgb(209, 209, 209);
  }

  .center_container {
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-around;
    margin: auto 0;
    height: auto;
    /* padding-left: 200px;
    padding-right: 200px; */
    margin-top: 30px;
    background-color: black;
  }

  .center_container_div1 {
    width: 38%;
  }

  .center_container_div2 {
    width: 38%;
  }

  .skill_hr {
    border-top: none;
    border-bottom: 1px solid white;
  }

  .picture_frame {
    margin-top: 30px;
    height: 400px;
    width: 400px;
    background-color: white;
  }

  .inquires_section {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .inquires_section_p {
    width: 30%;
  }

  .inquiry_hr {
    width: 100%;
    border-top: none;
    border-bottom: 1px solid white;
    margin-top: 30px;
  }

  .COLLABORATE_p {
    font-size: 200px;
    color: white;
    white-space: nowrap;
    animation: moveText 10s linear infinite;
  }

  .COLLABORATE_div {
    width: 100vw;
    overflow: scroll;
  }

  .section_one{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  @keyframes moveText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @media (max-width: 640px) {
    .dev_title {
      font-size: 50px;
      color: white;
      line-height: 55px;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-weight: bold;
      color: rgb(209, 209, 209);
      text-align: center;
      margin: 0 auto;
      padding-top:30px;
    }

    .image_style_div {
      margin-top: 50px;
    }

    .section_one{
      display: grid;
      grid-template-columns: 1fr;
    }

    .font_fam2 {
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 70px;
      line-height: 80px;
    }

    .font_fam {
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 70px;
      line-height: 120px;
    }
  

    .project_content_div2 {
      width: 100%;
      background-color: white;
      height: 210px;
      padding: 20px;
      margin-top: 50px;
    }

    .project_content_div2 img{
      width: 100%;
      height: 100%;
    }


  }

  @media (min-width: 768px) and (max-width: 991px) {
    .dev_title {
      font-size: 80px;
      color: white;
      line-height: 85px;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-weight: bold;
      color: rgb(209, 209, 209);
      text-align: center;
      padding-top: 30px;
      width: 40%;
      margin: 0 auto;
    }

    .md_h3_style2 {
      text-align: right;
    }

    .image_style_div{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      
    }

    .section_one{
      display: grid;
      grid-template-columns: 1fr;
    }

    .image_style_div{
      margin-top: 50px;
    }

    .bio_details{
      margin-top: 30px;
      width: 40%;
      margin: 0 auto;
    }

  }

/*   
  @media (min-width: 800px) and (max-width: 1280px) {
    .section_one{
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  } */

}
