@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  transition: all 0.3s ease-in-out;
}

:root {
  --body_background: black;
  --body_color: rgb(209, 209, 209);
  --link_color: rgb(108, 12, 12);
  --button_bgcolor: white;
  --button_color: black;
}

[data-theme="dark"] {
  --body_background: white;
  --body_color: black;
  --link_color: rgba(8, 8, 46, 0.649);
  --button_bgcolor: black;
  --button_color: white;
}

@layer components {
  .bg_container {
    background-color: var(--body_background);
    width: 100vw;
    height: auto;
    min-height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    padding-bottom: 30px;
  }

  .resume_color {
    color: var(--button_bgcolor);
  }

  .border_color {
    display: flex;
    padding: 5px;
    border: 1px solid var(--body_color);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    align-items: center;
  }
  .border_color2 {
    display: flex;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    align-items: center;
    background-color: var(--button_bgcolor);
    color: var(--button_color);
  }

  .border_color2:hover {
    background-color: rgb(108, 12, 12);
    color: white;
  }

  .pdf_icon:hover {
    color: var(--button_color);
  }

  .dev_title {
    width: 80%;
    font-size: 200px;
    color: white;
    line-height: 230px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: bold;
    color: var(--body_color);
  }

  .text_gen_color {
    color: var(--body_color);
  }

  .dev_title_span2:hover {
    color: var(--link_color);
  }

  .dev_title_span:hover {
    color: var(--link_color);
  }

  .font_fam {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 116px;
    line-height: 120px;
  }

  .font_fam2 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 90px;
    line-height: 105px;
  }

  .font_fam2:hover {
    color: var(--link_color);
  }

  .font_fam:hover {
    color: var(--link_color);
  }

  .image_style {
    object-fit: contain;
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .image_style_div {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid white;
    animation: slideInRight 1s forwards;
  }

  .image_style2 {
    width: 95%;
    height: 95%;
  }

  .first_hr {
    border-top: 0;
    border-bottom: 3px solid rgb(108, 12, 12);
    width: 60px;
    margin-left: 10px;
  }

  .hr_color {
    border-top: none;
    border-bottom: 1px solid var(--body_color);
  }

  .primary_redd {
    color: rgb(108, 12, 12);
  }

  .project_content {
    display: flex;
    width: 100%;
  }

  .project_content_div1 {
    width: 90%;
  }

  .project_content_div2 {
    width: 100%;
    background-color: var(--button_bgcolor);
    height: 350px;
    padding: 20px;
  }

  .centered {
    margin: 0 auto;
    border-bottom-left-radius: 50px;
    border: 1px solid black;
  }

  .text_color {
    color: rgb(209, 209, 209);
  }

  .skill_hr {
    border-top: none;
    border-bottom: 1px solid white;
  }

  .skill_content {
    padding-left: 100px;
    padding-right: 100px;
  }

  .picture_frame {
    margin-top: 30px;
    height: 400px;
    width: 400px;
    background-color: var(--button_bgcolor);
  }

  .inquires_section {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .inquires_section_p {
    width: 30%;
  }

  .inquiry_hr {
    width: 100%;
    border-top: none;
    border-bottom: 1px solid white;
  }

  .inquiry_hr2 {
    width: 100%;
    border-top: none;
    border-bottom: 1px solid white;
    margin-top: 50px;
  }

  .COLLABORATE_p {
    font-size: 170px;
    color: var(--button_bgcolor);
    white-space: nowrap;
    animation: moveText 10s linear infinite;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  .section_one {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 10px;
  }

  .socials_section {
    width: 40%;
    margin: 0 auto;
  }

  .socials_section_hr {
    border-top: none;
    width: auto;
    border-bottom: 1px solid white;
  }

  .socails_border {
    border-bottom: 1px solid var(--button_bgcolor);
    padding-bottom: 5px;
  }

  @keyframes moveText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .dev_title_container {
    overflow: hidden;
  }

  .dev_title_span {
    display: inline-block;
    animation: slideInLeft 1s forwards;
  }

  .dev_title_span2 {
    display: inline-block;
    animation: slideInRight 1s forwards;
  }

  .bio_details {
    animation: slideInRight 1s forwards;
  }

  @media (max-width: 640px) {
    .dev_title {
      font-size: 12vw;
      color: white;
      line-height: 1.1;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-weight: bold;
      color: var(--button_bgcolor);
      text-align: center;
      margin: 0 auto;
      padding-top: 20px;
      margin-bottom: 30px;
    }

    .bg_container {
      background-color: var(--body_background);
      width: 100vw;
      height: auto;
      padding-left: 20px;
      padding-right: 20px;
      overflow: hidden;
      padding-bottom: 30px;
    }

    .image_style_div {
      margin-top: 50px;
      margin: 0 auto;
    }

    .section_one {
      display: grid;
      grid-template-columns: 1fr;
    }

    .font_fam2 {
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 12vw;
      line-height: 1.1;
      text-align: left;
    }

    .font_fam {
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 15vw;
      line-height: 1.1;
      text-align: left;
    }

    .project_content_div2 {
      width: 100%;
      background-color: var(--button_bgcolor);
      height: auto;
      min-height: 200px;
      padding: 10px;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .project_content_div2 img {
      width: 100%;
      height: 100%;
    }

    .skill_content {
      padding: 0;
      gap: 20px;
    }

    .picture_frame {
      margin-top: 30px;
      height: 400px;
      width: 100%;
      background-color: var(--button_bgcolor);
    }

    .inquires_section_p {
      width: 100%;
    }

    .inquires_section {
      margin-top: 110px;
    }

    .COLLABORATE_p {
      font-size: 60px;
      color: var(--button_bgcolor);
      white-space: nowrap;
      animation: moveText 10s linear infinite;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .socials_section {
      width: 100%;
      margin: 0 auto;
    }

    .md_h3_style2 {
      margin-top: 10px;
      margin-left: 0;
      text-align: center;
    }

    .md_lastdiv_style {
      margin-top: 20px;
    }
  }

  @media (max-width: 320px) {
    .dev_title {
      font-size: 10vw;
      color: white;
      line-height: 1.1;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-weight: bold;
      color: var(--button_bgcolor);
      text-align: center;
      margin: 0 auto;
      padding-top: 20px;
      margin-bottom: 30px;
    }

    .md_h3_style3 {
      padding: 0 !important;
      text-align: center;
    }

    .md_nav_style {
      padding: 0 !important;
      margin: 0 !important;
    }

    .bg_container {
      background-color: var(--body_background);
      width: 100vw;
      height: auto;
      padding-left: 20px;
      padding-right: 20px;
      overflow: hidden;
      padding-bottom: 30px;
    }

    .image_style_div {
      margin-top: 50px;
      margin: 0 auto;
    }

    .section_one {
      display: grid;
      grid-template-columns: 1fr;
    }

    .font_fam2 {
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 50px;
      line-height: 60px;
    }

    .font_fam {
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 50px;
      line-height: 120px;
    }

    .project_content_div2 {
      width: 100%;
      background-color: var(--button_bgcolor);
      height: auto;
      min-height: 200px;
      padding: 10px;
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .project_content_div2 img {
      width: 100%;
      height: 100%;
    }

    .skill_content {
      padding: 0;
      gap: 20px;
    }

    .picture_frame {
      margin-top: 30px;
      height: 400px;
      width: 100%;
      background-color: var(--button_bgcolor);
    }

    .inquires_section_p {
      width: 100%;
    }

    .inquires_section {
      margin-top: 110px;
    }

    .COLLABORATE_p {
      font-size: 60px;
      color: var(--button_bgcolor);
      white-space: nowrap;
      animation: moveText 10s linear infinite;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .socials_section {
      width: 100%;
      margin: 0 auto;
    }

    .md_h3_style2 {
      margin-top: 10px;
      margin-left: 0;
      text-align: center;
    }

    .md_lastdiv_style {
      margin-top: 20px;
    }
  }

  @media only screen and  (max-width:414px) {
    .dev_title {
      font-size: 11vw;
      color: white;
      line-height: 1.1;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-weight: bold;
      color: var(--button_bgcolor);
      text-align: center;
      margin: 0 auto;
      padding-top: 20px;
      margin-bottom: 30px;
    }

    .md_h3_style3 {
      padding: 0 !important;
    }

    .md_nav_style {
      padding: 0 !important;
      margin: 0 !important;
    }

    .bg_container {
      background-color: var(--body_background);
      width: 100vw;
      height: auto;
      padding-left: 20px;
      padding-right: 20px;
      overflow: hidden;
      padding-bottom: 30px;
    }

    .image_style_div {
      margin-top: 50px;
      margin: 0 auto;
    }

    .section_one {
      display: grid;
      grid-template-columns: 1fr;
    }

    .font_fam2 {
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 50px;
      line-height: 60px;
    }

    .font_fam {
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-size: 50px;
      line-height: 120px;
    }

    .project_content_div2 {
      width: 100%;
      background-color: var(--button_bgcolor);
      height: 210px;
      padding: 10px;
      margin-top: 50px;
    }

    .project_content_div2 img {
      width: 100%;
      height: 100%;
    }

    .skill_content {
      padding: 0;
      gap: 20px;
    }

    .picture_frame {
      margin-top: 30px;
      height: 400px;
      width: 100%;
      background-color: var(--button_bgcolor);
    }

    .inquires_section_p {
      width: 100%;
    }

    .inquires_section {
      margin-top: 110px;
    }

    .COLLABORATE_p {
      font-size: 60px;
      color: var(--button_bgcolor);
      white-space: nowrap;
      animation: moveText 10s linear infinite;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .socials_section {
      width: 100%;
      margin: 0 auto;
    }

    .md_h3_style2 {
      margin-top: 20px;
      margin-left: 70px;
    }

    .md_lastdiv_style {
      margin-top: 20px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .dev_title {
      font-size: 80px;
      /* color: white; */
      line-height: 85px;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      font-weight: bold;
      color: var(--body_color);
      text-align: center;
      padding-top: 30px;
      width: 40%;
      margin: 0 auto;
    }

    .md_h3_style2 {
      text-align: right;
    }

    .image_style_div {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    .project_content_div2 {
      width: 100% !important;
      background-color: var(--button_bgcolor);
      height: 370px;
      padding: 20px;
      margin-top: 50px;
    }

    .project_content_div2 img {
      width: 100% !important;
      height: 100% !important;
    }

    .section_one {
      display: grid;
      grid-template-columns: 1fr;
    }

    .image_style_div {
      margin-top: 50px;
    }

    .bio_details {
      margin-top: 30px;
      width: 40%;
      margin: 0 auto;
    }

    .skill_content {
      padding: 0;
    }

    .inquires_section_p {
      width: 100%;
    }

    .inquires_section {
      margin-top: 110px;
    }

    .socials_section_hr {
      border-top: none;
      width: auto;
      border-bottom: 1px solid white;
    }

    .COLLABORATE_p {
      font-size: 70px;
      color: var(--button_bgcolor);
      white-space: nowrap;
      animation: moveText 10s linear infinite;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  @media only screen and (min-width: 1440px) {
    .project_content_div2 img {
      overflow: hidden;
      width: 100%;
      height: 100%;
    }

    .dev_title {
      width: 100%;
      font-size: 220px !important;
    }

    .project_content_div2 {
      width: 100%;
      background-color: var(--button_bgcolor);
      height: 410px !important;
      padding: 20px;
      /* margin-top: 50px; */
    }
  }

  @media only screen and (min-width: 1280px) {
    .project_content_div2 img {
      overflow: hidden;
      width: 100% !important;
      height: 100% !important;
    }

    .dev_title {
      width: 100%;
      font-size: 200px !important;
    }

    .project_content_div2 {
      width: 100%;
      background-color: var(--button_bgcolor);
      height: 390px !important;
      padding: 20px;
      /* margin-top: 50px; */
    }
  }

  @media only screen and (min-width: 1024px) {
    .section_one {
      display: grid;
      grid-template-columns: 2.5fr 1fr;
    }

    .dev_title {
      width: 100%;
      /* color: red; */
      font-size: 150px;
    }

    .font_fam {
      font-size: 70px;
    }

    .font_fam2 {
      font-size: 70px;
    }

    .project_content_div2 {
      width: 100%;
      background-color: var(--button_bgcolor);
      height: 280px;
      padding: 20px;
    }
  }
}
